* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav li {
  font-weight: 500;
}

.btn {
  background-color: rgb(255, 109, 11);
  color: rgb(255, 255, 255);
}

.btn-white {
  border: none;
  display: block;
  background-color: #fff;
  color: black;
  padding-bottom: 12px;
  border-radius: 12px;
}

.btn:hover {
  background-color:black;
  color: rgb(255, 255, 255);
}

.orange-background {
  background-color: rgb(255, 109, 11);
}

.f-orange {
  color: rgb(255, 109, 11);
}

.f-white {
  color: #fff;
}

.white-btn {
  background-color: white;
  color: rgb(255, 109, 11);
}

.card {
  border-radius: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 109, 11);
  text-decoration: none;
}

.commit {
  border-radius: 10px;
  background-color: rgb(255, 244, 237);
}

.promo-img {
  transition: 0.2s;
}

.promo-img:hover {
  transition: 0.2s;
  transform: scale(1.2);
}

.carousel-item-width {
  justify-content: center;
  margin-left: 100px;
  width: 900px;
}